Print number from 1 to 5 using a while loop.

In [1]:
count=1
while count<6:
    print(count)
    count += 1

1
2
3
4
5

Calculate the sum of number from 1 to 10 using a while loop.

In [2]:
add=0
output=0
count=0
while count < 10:
    add += 1
    output += add
    count += 1
print(output)

55

Calculate the factorial of a number using a for loop.

In [1]:
number = 5
factorial = 1

if number < 0:
    print("not defined")
elif number == 0 or number == 1:
    print(factorial)
else:
    for i in range(2, number + 1):
        factorial *= i

    print(factorial)

120

Count the number of vowel in a string using a for loop

In [2]:
value = "Hello India"
vowels = "aeiouAEIOU"
count = 0

for alph in value:
    if alph in vowels:
        count += 1

print(count)

5

Print a pattern using nested loop.

In [3]:
rows = 5

for i in range(rows):
    for j in range(i + 1):
        print("*", end =" ")
    print()

*
* *
* * *
* * * *
* * * * *

Generate a multiplication table using nested loop.

In [4]:
#following code will print the table till 20
rows = 20  
table = 10

for i in range(1, rows + 1):
    for j in range(1, table + 1):
                product = i * j
                print(product)
    print()

1
2
3
4
5
6
7
8
9
10

2
4
6
8
10
12
14
16
18
20

3
6
9
12
15
18
21
24
27
30

4
8
12
16
20
24
28
32
36
40

5
10
15
20
25
30
35
40
45
50

6
12
18
24
30
36
42
48
54
60

7
14
21
28
35
42
49
56
63
70

8
16
24
32
40
48
56
64
72
80

9
18
27
36
45
54
63
72
81
90

10
20
30
40
50
60
70
80
90
100

11
22
33
44
55
66
77
88
99
110

12
24
36
48
60
72
84
96
108
120

13
26
39
52
65
78
91
104
117
130

14
28
42
56
70
84
98
112
126
140

15
30
45
60
75
90
105
120
135
150

16
32
48
64
80
96
112
128
144
160

17
34
51
68
85
102
119
136
153
170

18
36
54
72
90
108
126
144
162
180

19
38
57
76
95
114
133
152
171
190

20
40
60
80
100
120
140
160
180
200