Convert an integer to a floating-point number

In [1]:
value1=65                    # Integer containing in a variable value1. 
valuefloat=float(value1)      # Now variable value1 which is an integer is converted into float.
print(valuefloat)            # This code will print the desire output.

65.0

Convert a float to an integer.

In [2]:
value2=65.0           # Now value2 is a variable that is containing a float value.
value_int=int(value2)  # Now variable value2 which is a float is converted into integer.
print(value_int)      # This code will print the desire output.

65

Convert an integer to a string.

In [3]:
value3=308               #  Now in this case value3 is a variable containing an integer.
value_str=str(value3)     #  Now over here variable value3 which is a integer is converted into a string.
print(value_str)         # This code will print the desire output.

308

Convert a list to a tuple.

In [4]:
list_1 = [2,4,6,8,10]   # In this case list1 is a variable containing a list
output= tuple(list_1)  # Now list1 is converted into tuple
print(output)         # This code will print the desire output.

(2, 4, 6, 8, 10)

Convert a tuple to a list.

In [5]:
tuple_1 = (2,4,6)       # In this case tuple1 is a variable containing a tuple 
output = list(tuple_1)  # Now tuple is converted into list
print(output)          # This code will print the desire output i.e [2,4,6]

[2, 4, 6]

Convert a decimal number to binary.

In [6]:
number = 567          # Over here number is a variable containing a number.
output = bin(number)   # Now number is converted into binary.
print(output)            # This code will print the desire output.

0b1000110111

Convert a non-zero number to boolean.

In [ ]:
num = -26         # In this case Num is a variable that is containing a non zero no.
output = bool(num)  # Over here the number is converted into boolean 
print(output)